
body{
    margin: 0;
    padding: 0;
}
h1{
    color: burlywood;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:-2px 0px 6px burlywood;
}
.p1{
    color: burlywood;
    text-indent: 30px;

}
.p2{
    color: crimson;
    text-anchor: end;
    text-transform: uppercase;
}
